<!--
File Name:content.ejs
Author: Ece Irem Burgaz
Student ID:301162609
Date: 2021-10-01
-->
<!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-4" style="font-size: 30px;">Welcome to the <%= title %> Page! </h1>
    </div>
  </main>


