<!--
File Name:header.ejs
Author: Ece Irem Burgaz
Student ID:301162609
Date: 2021-10-01
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/Content/app.css">
<style>

</style>
</head>
<body style="background-color: #EBF4FA" >
